In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hi\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hi\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hi\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hi\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# series

In [52]:
import numpy as np
import pandas as pd

In [7]:
labels=['a','b','c']

In [8]:
my_data=[10,12,17]

In [9]:
arr=np.array(my_data)

In [10]:
d={'a':10,'b':12,'c':17}

In [14]:
d

{'a': 10, 'b': 12, 'c': 17}

In [15]:
pd.Series(data = my_data)

0    10
1    12
2    17
dtype: int64

In [16]:
pd.Series(data = my_data,index=labels)

a    10
b    12
c    17
dtype: int64

In [17]:
pd.Series(my_data,labels)

a    10
b    12
c    17
dtype: int64

In [19]:
pd.Series(arr,labels)

a    10
b    12
c    17
dtype: int32

In [22]:
pd.Series(d)  # it take key as index and value as data

a    10
b    12
c    17
dtype: int64

In [23]:
d

{'a': 10, 'b': 12, 'c': 17}

In [24]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [25]:
pd.Series(data=[sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [26]:
ser1=pd.Series([1,2,3,4],['bd','ind','aus','pak'])

In [27]:
ser1

bd     1
ind    2
aus    3
pak    4
dtype: int64

In [41]:
ser2=pd.Series([1,2,8,7,5],['usa','ind','italy','japan','pak'])

In [42]:
ser2

usa      1
ind      2
italy    8
japan    7
pak      5
dtype: int64

In [43]:
ser1['ind']

2

In [45]:
ser2['japan']

7

In [46]:
ser3 = pd.Series(data = labels)

In [47]:
ser3

0    a
1    b
2    c
dtype: object

In [48]:
ser3[1]

'b'

In [51]:
ser1 + ser2 # index add that are match ,if don't match return NaN data

aus      NaN
bd       NaN
ind      4.0
italy    NaN
japan    NaN
pak      9.0
usa      NaN
dtype: float64

#  Data Frames

In [54]:
from numpy.random import randn

In [55]:
np.random.seed(101)

In [61]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [62]:
df

          w         x         y         z
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
d -1.382920  1.482495  0.961458 -2.141212
e  0.992573  1.192241 -1.046780  1.292765

In [63]:
df['w']

a    0.386030
b    0.681209
c   -1.005187
d   -1.382920
e    0.992573
Name: w, dtype: float64

In [67]:
df[['z','w']]

          z         w
a  0.230336  0.386030
b  1.939932  0.681209
c -0.732845 -1.005187
d -2.141212 -1.382920
e  1.292765  0.992573

In [66]:
df.z

a    0.230336
b    1.939932
c   -0.732845
d   -2.141212
e    1.292765
Name: z, dtype: float64

In [68]:
# creating new column 

df['new'] = df['w']+df['z']

In [69]:
df

          w         x         y         z       new
a  0.386030  2.084019 -0.376519  0.230336  0.616367
b  0.681209  1.035125 -0.031160  1.939932  2.621142
c -1.005187 -0.741790  0.187125 -0.732845 -1.738032
d -1.382920  1.482495  0.961458 -2.141212 -3.524132
e  0.992573  1.192241 -1.046780  1.292765  2.285338

In [70]:
# removing column 

df.drop('new',axis=1,inplace=True)

In [71]:
df

          w         x         y         z
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
d -1.382920  1.482495  0.961458 -2.141212
e  0.992573  1.192241 -1.046780  1.292765

In [72]:
df.drop('d',axis=0,inplace=True)

In [73]:
df

          w         x         y         z
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
e  0.992573  1.192241 -1.046780  1.292765

In [80]:
# print row

df.loc['a']

w    0.386030
x    2.084019
y   -0.376519
z    0.230336
Name: a, dtype: float64

In [78]:
df.loc[['a','b']]

          w         x         y         z
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932

In [79]:
df.iloc[1]

w    0.681209
x    1.035125
y   -0.031160
z    1.939932
Name: b, dtype: float64

In [82]:
df.loc['b','y']

-0.031160481493099617

In [83]:
df

          w         x         y         z
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
e  0.992573  1.192241 -1.046780  1.292765

In [85]:
df.loc[['b','c'],['x','y']]

          x         y
b  1.035125 -0.031160
c -0.741790  0.187125